
/* Header modification*/
header{
	background-image: url(images/header-background.jpg);
	background-size: cover;
	background-position: center;
/*	background-color: #563d7c;*/

}
.emailPosition a{
	background-color: #212529;
	border: 2px solid #212529;
	border-radius: 5px;
	text-decoration: none;
	padding: 7px;
	color: whitesmoke;
}
.emailPosition{
	margin-right: 50px;
}

.card-header h5{
	text-decoration: none;
}

.tgifLogo img{
	width: 80px;
	height: auto; 
	margin-left: 50px;
}

.headerTG h4{
	color: white;
}
.positionTitle{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
/* End of header Modification*/

/*Body in general, applies to all the htmls*/

body{ 
	/*background-image: url(images/background_opt_2.jpg);*/
	background-color: whitesmoke;
	background-size: cover;
}

.form-inline {
	justify-content: space-around;
}

/* Footer in general, applies to all htmls */

.theFooter{
	background-color: #212529;
	color: white;
	text-align: center;
	margin-top: 30px;
	height: 40px;
}

/* Senate Html */

.filters {
	margin-top: 10px;
	margin-bottom: 10px;
}


/* Index html */

.about_us{
	display: inline-flex;

}

.about_us img{
	width: 300px;
	height: auto;
	margin-top: 100px;
}


/* House Att_ Css*/

.both_tables{
	margin-top: 20px;
}

/* theaders*/
thead{
	background-color: cornflowerblue;
	color: whitesmoke;
}